# Python
__pycache__/
*.py[cod]
*.egg-info/
.Python
.venv/
venv/
pip-wheel-metadata/

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Ambiente
.env
.env.*
!.env.example

# Testes e cobertura
.coverage
.coverage.*
htmlcov/
.pytest_cache/
.ruff_cache/

# Editores e SO
.vscode/
.idea/
.DS_Store
Thumbs.db
